<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>游记</title>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
</head>

<body>
<div class="trips-wrapper trips-wrapper-visible">
    <div style="" id="cover-header" class="cover-header">
        <h1 style="font-size:45px" id="js-cover-title">
            <span class="inner-text"><%=title%></span>
        </h1>
        <div class="meta clearfix">
            <div class="trip-info">By <a><%=author%></a>
                <time><%=time.getFullYear()%>/<%=time.getMonth()+1%>/<%=time.getDate()%> </time>
            </div>
        </div>

        <div class="viewport">

            <div class="node-content">

                <div class="ico ico-sight"></div>
                <div class="node-name">大英博物馆</div>
                <div class="node-name-en">British Museum</div>
                <div class="node-info"></div>

                <div class="top-right">
                    <p>英国国家博物馆（British Museum），又名不列颠博物馆，位于英国伦敦新牛津大街北面的大罗素广场，成立于1753年，1759年1月15日起正式对公众开放，是世界上历史最悠久、规模最宏伟的综合性博物馆，也是世界上规模最大、最著名的博物馆之一。博物馆收藏了世界各地的许多文物和珍品，藏品之丰富、种类之繁多，为全世界博物馆所罕见。英国国家博物馆拥有藏品600多万件。由于空间的限制，还有大批藏品未能公开展出。</p>
                </div>
            </div>
        </div>


        <div class="travelconnect">
            <%if(content.length>0){
                for(var i=0;i<content.length-1;i++){
                    var trav = content[i];

            %>
            <div class="viewcontent">
                <div class="note-content" >
                    <figure class="">
                        <img class="photo" style=" height: 254px; width: 400px; visibility: visible;" src="<%=trav.src%>">
                        <figcaption class="caption">
                            <p><%=trav.caption%></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="note-footer">
                    <time datetime="2014-07-06 10:07:20" class="has-clock">
                        <%=trav.shoot%>
                    </time>
                    <div class="action">
                        <span class="comment">
                            <i class="ico"></i>
                            <span>0</span>
                        </span>
                        <span class="like">
                            <i class="ico"></i>
                            <span>0</span>
                        </span>
                    </div>
                </div>
            </div>

            <%
            }}
            %>
        </div>
    </div>
    <footer>
        <p>
            <a href="#" target="_blank">制作</a>
            by <a href="#" target="_blank">剌小胥</a>
        </p>
        <p>
            <a href="http://houcheshi.duapp.com/" target="_blank">本站地址</a>
        </p>
        <p>
            <a href="#" target="_blank">Github</a>
            by <a href="https://github.com/jlala/chanyouzhuaqu" target="_blank">https://github.com/jlala/chanyouzhuaqu</a>
        </p>
    </footer>
</div>

</body>
</html>